<mat-nav-list>
  <h3 mat-subheader>Teams</h3>
  <mat-list-item>
    <mat-icon mat-list-icon >donut_large</mat-icon>
    <span mat-line>League Teams</span>
    <span mat-line mat-subheader>All teams in your league</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon >donut_large</mat-icon>
    <span mat-line>Your Teams</span>
    <span mat-line mat-subheader>Activities in your team</span>
  </mat-list-item>
  <h3 mat-subheader>Matches</h3>
  <mat-list-item>
    <span>All Matches</span>
  </mat-list-item>
  <mat-list-item>
    <span>Your League Matches</span>
  </mat-list-item>
  <mat-list-item>
    <span>Your Team Matches</span>
  </mat-list-item>
</mat-nav-list>
