<form [formGroup]="landingForm">
  <h2> Welcome {{user.name}} </h2>
  <h3> You are in {{teams.length}} teams, and they are:</h3>

  <ul>
    <li *ngFor="let team of teams, let i = index">
      {{team.name}}
    </li>
  </ul>
  <!--
  <app-matches-list [initiator]="auth.userId" [level]="1" [token]="auth.id" [twoTeam]="false" [title]="'Rencent Games'"
    formControlName="matchesList">
  </app-matches-list>
  -->
  <app-team-players-list [initiator]="auth.userId" [level]="1" [token]="auth.id" [position]="true" [title]="'Players in your team'">
  </app-team-players-list>

  <app-teams-list [initiator]="auth.userId" [level]="1" [token]="auth.id" [winInSeason]="false" [title]="'Your teams'">

  </app-teams-list>

</form>
