<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Login:
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>email address</mat-label>
        <input matInput type="text" placeholder="your email address">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>password</mat-label>
        <input matInput type="password" placeholder="your password">
      </mat-form-field>
      <button mat-raised-button type="button" color="accent">Login</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>Don't have a account? Please <a href="">Sign Up</a></p>
      <p>Forget your password? <a href="">Find back</a></p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
      <mat-card-header>
        <mat-card-title>
            Cubs' quips draw ire of Cards' Molina: 'Losers'
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://a3.espncdn.com/combiner/i?img=%2Fphoto%2F2017%2F0616%2Fr220832_1296x864_3%2D2.jpg">
      <mat-card-content>
          Cardinals catcher Yadier Molina took exception to quips about St. Louis by Cubs star Kris Bryant and Ryan Dempster, saying only \"stupid players and losers\" make fun of other cities.
      </mat-card-content>

    </mat-card>
</form>
